<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="ScanPe">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.CAMERA" />

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Loginpage"
    android:name="com.example.ScanPe.GlobalClass"
    android:usesCleartextTraffic="true">
    <activity
        android:name="com.example.ScanPe.loadmenu"
        android:exported="true" />
    <activity
        android:name="com.example.ScanPe.scanresults"
        android:exported="true" />
    <activity
        android:name="com.example.ScanPe.scanpage"
        android:exported="true" />
    <activity
        android:name=".homepage"
        android:exported="true" />
    <activity
        android:name="com.example.ScanPe.Register"
        android:exported="true" />

    <activity
        android:name="com.example.ScanPe.MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.example.ScanPe.Pop"
        android:theme="@style/AppthemeCustomtheme" />
</application>

</manifest>


